name: Update Versions

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update README with versions
        env:
          HARBOR_USER: "robot$github-version"
          HARBOR_TOKEN: ${{ secrets.HARBOR_TOKEN }}
        run: |
          chmod +x ./generate.sh
          ./generate.sh

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git diff --staged --quiet || git commit -m "update versions"
          git push
